body{
    margin: 0;
    padding:0;
    color: white;
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1709253430119-b03601ceb260?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 20%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  h1{
    font-size: 8rem;
  }
  .weather-container input {
    width: 80%;
    padding: 20px;
    font-size: 4rem;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  .weather-container button {
    padding: 30px 50px;
    background: #ff9800;
    font-size: 3rem;
    margin-top: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .weather-container button:hover {
    background: #e68900;
  }
  .weather-info {
    margin-top: 20px;
    font-size: 80px;
  }
 .weather-info p {
    margin: 10px 0;
  }