
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    caret-color: transparent;
  }
  
  body {
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 14%, rgba(127, 26, 143, 1) 48%, rgba(0, 47, 255, 1) 81%);background: linear-gradient(90deg,rgba(255, 0, 0, 1) 14%, rgba(127, 26, 143, 1) 57%, rgba(0, 47, 255, 1) 81%);
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
  
  .container {
    /* position: absolute; */
    width: 550px;
    height: 700px;
    background-color: #ffffff3d;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    backdrop-filter: blur(10px);
  }
  
  h1 {
    margin-bottom: 80px;
    font-size: 32px;
    color: #1c1b1b;
  }
  
  .board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ceil {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.067);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    caret-color: transparent;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 70px red; */
  }
  
  .ceil:hover {
    background-color: #d9d9d97c;
  }
  
  #restartgame {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 50vh;
  }
  
  #restartgame:hover {
    background-color: #218838;
  }
  
  .winning-massage{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 8px;
  }

  .first-container{
    /* background-color: red; */
    height: 80vh;
    width: 500px;
    text-align: center;
    padding: 20px;
  }

  .last-container{
    /* background-color: blue; */
    height: 80vh;
    width: 500px;
    text-align: center;
    padding: 20px;
  }

  h2{
    background-color: greenyellow;
    padding: 10px 20px;
    border-radius: 12px;
    max-width: 50%;
    margin-left: 7rem;
    font-weight: 600;
  }

  #ch1{
    position:  relative;
    max-width: 100%;
    margin-top: 120px;
    object-fit: contain;
    filter: drop-shadow(0 0 20px rgba(255, 202, 202, 0.7));
    scale: 1.2;
    transition: all ease-in-out;
  }
  #ch2{
    height: 400px;
    margin-top: 100px;
  }

  #pl1{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 60px;
    box-shadow: #333;
  }
  #pl2{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 60px;
    box-shadow: #333;
  }


  /* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 768px){

  body{
    flex-direction: column;
    height: auto;
    padding: 17px 2px;
    gap: 10px;
    background-size: 200% 100%;
    background: linear-gradient(180deg,
rgba(255,0,0,1) 24%,
rgba(127,26,143,1) 57%,
rgba(0,47,255,1) 81%);
  }

  .container{
    width: auto;
    height: auto;
    margin-top: 15px;
    padding: 8px;
  }

  h1{
    font-size: 24px;
    margin-bottom: 1px;
  }

  .board{
    position: static;
    gap: 3px;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    margin: 5px 10px;
  }

  .ceil{
    height: 65px;
    padding:20px;
    width: 65px;
    font-size: 30px;
  }

  #restartgame{
    margin-top: 5px;
    width: 89%;
  }

  .first-container,
  .last-container{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  h2{
    margin-top: 0;
    margin: 0 auto;
    max-width: 100px;
    font-size: 10px;
    font-weight: 800;
  }

  #ch1{
    margin-top: 10px;
    height: 100px;
    max-width: 90%;
    transition: all ease-in-out;
    scale: 1.2;
  }
  #ch2{
    margin-top: 10px;
    height: 148px;
    max-width: 90%;
    transition: all ease-in-out;
    scale: 1;
  }

  #pl1{
    font-size: 1rem;
    margin-top: 1px;
    position: absolute;
    top: 62px;
    left: 240px;
  }
  #pl2{
    font-size: 1rem;
    margin-top: 1px;
    position: absolute;
    top: 90px;
    left: 240px;
  }
  .first-container h2 {
    position: absolute;
    top: 50px;
    left: 40px;
  }
  .last-container h2 {
    position: absolute;
    top: 80px;
    left: 40px;
  }

}
